extends layout
block scripts
  style(type='text/css')
    #logoutlink {
      text-decoration: none;
      color: black;
    }
    textarea {
      resize: none;
    }
  script(type='text/javascript')
    jQuery(function($) {
      $( "#carousel" ).rcarousel({
        width: 300,
        height: 300, 
        visible:1, 
        step:1
      });
    });
    jQuery(function($) {
      $('#Prev').click(function (){
        $( "#carousel" ).rcarousel( "prev" );
      });
    });
    jQuery(function($) {
      $('#Next').click(function (){
        $( "#carousel" ).rcarousel( "next" );
      });
    });
    $(document).ready(function() {
      $('#Submit').click(function (){
        console.log("Has been clicked");
        var color = $("#colorBox").val();
        console.log("Color is: " + color);
        $.post('/change', {color: color}, function(){
          $("body").css({"background-color": "#"+color});
        });
      });
    })
block content
  body(style="background-color: ##{color}")
    h1= title 
    p Welcome to #{title}, #{name}. Your selected color is #{color}.
    p
      button(type='button')
        a(href='/logout', id='logoutlink')
          | Log Out
    div(id='pickerBox')
      h3 Pick a background color (hexadecimal):
      textarea(rows="1", cols="5", id="colorBox", maxlength="6")
      input(type="button", id="Submit", value="Change color")
        | Change color
    div(id='picturs')
      div(id='carousel')
          each id in ids
            div(id='wrapper')
              img(src='https://graph.facebook.com/#{id}/picture?width=300&height=300')
      button(id='Prev')
        | Previous
      button(id='Next')
        | Next
// Thanks www.webcodingtech.com